<select class="search_locale" id="search_locale" name="search_locale" aria-label="{{ _('Search language') }}">{{- '' -}}
  <option value="all"
    {%- if active_search_locale == 'all' %} selected="selected" {%- endif -%}>
    {{- _('Default language') }} [all] {{- '' -}}
  </option>{{- '' -}}
  <option value="auto"
    {%- if active_search_locale == 'auto' %} selected="selected" {%- endif -%}>
    {{- _('Auto-detect') }} ({{ search_language }})  {{- '' -}}
  </option>{{- '' -}}
  {% for sxng_tag,lang_name,country_name,english_name,flag in sxng_locales | sort(attribute=1) -%}
    <option value="{{ sxng_tag }}"
      {%- if sxng_tag == active_search_locale %} selected="selected" {%- endif -%}>
      {{ lang_name }}{%- if country_name -%}-{{ country_name }}{%- endif -%}
      {{- ' ' -}}[{{sxng_tag}}]{{- ' ' -}}
      {%- if flag -%}{{ flag }}{%- endif -%}
    </option>
  {%- endfor -%}
</select>
