<div class="pref-group">{{- _('Digital Object Identifier (DOI)') -}}</div>

{{- plugin_preferences('general/doi_resolver') -}}

<fieldset>{{- '' -}}
  <legend id="pref_doi_resolver">{{- _('Open Access DOI resolver') -}}</legend>{{- '' -}}
  <div class="value">{{- '' -}}
    <select id='doi_resolver' name='doi_resolver' aria-labelledby="pref_doi_resolver">{{- '' -}}
      {%- for name, selected in preferences.components["doi_resolver"].iter_catalog() -%}
        <option value="{{ name }}"  {%- if selected  %} selected="selected" {%- endif -%}>{{ name }}</option>
      {%- endfor -%}
    </select>{{- '' -}}
  </div>{{- '' -}}
  <div class="description">
    {{- _('Select service used by DOI rewrite') -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}
