<fieldset>
  {% set comp = preferences.components["safesearch"] %}
  <legend id="pref_{{comp.form_id}}">{{ _("SafeSearch") }}</legend>
  <div class="value">
    <select name="{{comp.form_id}}" aria-labelledby="pref_{{comp.form_id}}">
      <option value="2" {% if comp.value == 2 %} selected="selected" {% endif %}>{{_("Strict")}}</option>
      <option value="1" {% if comp.value == 1 %} selected="selected" {% endif %}>{{_("Moderate"))}}</option>
      <option value="0" {% if comp.value == 0 %} selected="selected" {% endif %}>{{_('None')}}</option>
    </select>
  </div>
  <div class="description">{{ _('Filter content') }}</div>
</fieldset>
