<fieldset>
  {% set comp = preferences.components["search_on_category_select"] %}
  <legend id="pref_{{comp.form_id}}">{{ _("Search on category select") }}</legend>
  <p class="value">
    <input type="checkbox" name="{{comp.form_id}}" aria-labelledby="pref_{{comp.form_id}}" class="checkbox-onoff" {%- if comp.value -%} checked {%- endif -%}>
  </p>
  <div class="description">
    {{ _("Perform search immediately if a category selected. Disable to select multiple categories.") -}}
  </div>
</fieldset>
