<fieldset>
  {% set comp = preferences.components["theme"] %}
  <legend id="pref_{{comp.form_id}}">{{_('Theme')}}</legend>
  <div class="value">
    <select name="{{comp.form_id}}" aria-labelledby="pref_{{comp.form_id}}">
      {% for name, selected in comp.menu_options() %}
        <option value="{{name}}" {% if selected %} selected="selected" {% endif %}>{{name | capitalize }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="description">{{_("Change SearXNG layout")}}</div>
</fieldset>

<fieldset>
  {% set comp = preferences.components["simple_style"] %}
  <legend id="pref_{{comp.form_id}}">{{_('Theme style')}}</legend>
  <div class="value">
    <select name="{{comp.form_id}}" aria-labelledby="pref_{{comp.form_id}}">
      {%- for name, selected in comp.menu_options() -%}
        <option value="{{name}}" {% if selected %} selected="selected" {% endif %}>{{ _name(name) | capitalize }}</option>
      {%- endfor -%}
    </select>
  </div>
  <div class="description">{{_("Choose auto to follow your browser settings")}}</div>
</fieldset>

{%- include 'simple/preferences/center_alignment.html' -%}
